{% extends 'base.html' %}

{% block title %}
  本の検索
{% endblock %}

{% block h1 %}
  <div class="d-flex">
    <h1>Google Books API で本を検索</h1>
    <p class="ms-auto text-end fs-6 me-5" id="current-time">現在時刻 : {{ current_time }}</p>
  </div>
{% endblock %}

{% block content %}
  <!-- 検索フォーム -->
  <form method="GET" action="{% url 'search-books' %}">
    <input type="text" name="q" value="{{ query }}" placeholder="本のタイトルを入力" class="form-control mb-3" />
    <button type="submit" class="btn btn-success">検索</button>
  </form>

  {% if books %}
    <h2>検索結果：</h2>
    <ul>
      {% for book in books %}
        <li>
          <h3>{{ book.volumeInfo.title }}</h3>

          {% if book.volumeInfo.imageLinks %}
            <img src="{{ book.volumeInfo.imageLinks.thumbnail }}" alt="本の表紙" />
          {% endif %}

          <p>著者: {{ book.volumeInfo.authors|join:', ' }}</p>
          <p>出版日: {{ book.volumeInfo.publishedDate }}</p>
          <a href="{% url 'detail-books' book.id %}" class="btn btn-primary">詳細を見る</a>

          {% if user.is_authenticated %}
            {% if book.id in favorite_book_ids %}
              <button class="btn btn-danger fs-6 mx-3" onclick="window.location.href='{% url 'remove-from-favorites' book.id %}'">お気に入り解除</button>
            {% else %}
              {% if book.id %}
                <button class="btn btn-success fs-6 mx-3" onclick="window.location.href='{% url 'add_to_favorites' book.id %}'">お気に入りに追加</button>
              {% endif %}
            {% endif %}
          {% else %}
            {% comment %} <p>ログインしてお気に入りを追加してください。</p> {% endcomment %}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p class="mt-3">結果 : 本が見つかりませんでした。</p>
  {% endif %}
  <script>
    // 現在時刻をリアルタイムで更新
    function updateTime() {
      const timeElement = document.getElementById('current-time')
      const now = new Date()
      const hours = now.getHours().toString().padStart(2, '0')
      const minutes = now.getMinutes().toString().padStart(2, '0')
      timeElement.textContent = `現在時刻 : ${hours}時${minutes}分`
    }
    
    // 1秒ごとに時間を更新
    setInterval(updateTime, 1000)
    
    // 最初のページ読み込み時にも時間を表示
    updateTime()
  </script>
{% endblock %}
